.grid-container {
  height: 400px;
  display: grid; /*Crear un container grid*/
  grid-template-columns: auto auto auto auto; /*Cantidad de columnas de*/
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  justify-content: space-evenly; /*Ajustar elementos del grid en el eje X*/
  align-content: center; /*Ajustar elementos del grid en el eje Y*/
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
